.active {
    font-weight: bold;
    font-size: 18px;
}

.container {
    border: 1px solid #dee2e6;
    width: 90vw;
    min-height: 60vh;
    border-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 6vh;
    right: 5%;
    overflow: auto;
    max-height: 500px;
    background-color: aliceblue;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
    width: 100%;
}

.btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
