.container {
    width: 100%;
}
.container p {
    width: 80vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 4px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.container button {
    /*width: 30px;*/
}
